#flash p {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	width: 50%;
	text-align: center;
}

#flash .error {
	border-color: red;
	background-color: #ffdbdb;
	color: red;
}

#flash .success {
	border-color: green;
	background-color: #dbffdb;
	color: green;
}

#flash .notice {
	border-color: blue;
	background-color: #dbdbff;
	color: blue;
}

#flash .warning {
	border-color: yellow;
	background-color: #ffffdb;
	color: yellow;
}

#flash .eget {
	border-color: orange;
	background-color: #ffeddb;
	color: orange;
}


